<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#f8fafc">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="manifest" href="../manifest.json" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    
    <title>Restaurant Apps</title>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju Ke Konten</a>
    <header role="banner">
      <h1>Eat Explorer</h1>
      
      <nav id="drawer" role="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/like">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/salsabila-tunnisa">About Us</a></li>
        </ul>

        <button class="menu-toggle" aria-label="Toggle Menu">
          
          <span></span>
          <span></span>
          <span></span>
        </button>
      </nav>
    </header>

    <main id="maincontent" role="main">
    </main>

    <footer role="contentinfo">
      <p>Copyright &copy; 2024 - Eat Explorer</p>
    </footer>
  </body>
</html>
